#ver,#ueb,#us{
    width:20%;
}
#ver,#ueb{
    float: left;
}
#us{
    float: right;
}

/*dropdown menu stuff*/
#dropdown {
    display: none;
    background-color:rgb(0, 160, 0);
    float: right;
    width: 25%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3); 
}
#dropdownList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
.dropLink{
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}
.dropLink:hover {
    background-color:darkgreen;
}