.td-profile {
    width: 50%;
    border-bottom: 1px solid #000;
    padding: 10px 30px;
}

.tr-profile, .table-profile {
    width: 100%;
}

.start {
    text-align: center;
}

.end {
    text-align: center;
}

.profile-form-wrapper {
    margin-top: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}