#form {
    color: black;
    padding: 15px;
    width: fit-content;
}

#field {
    width: fit-content;
    min-width: 20%;
}

#title {
    margin: 15px;
}

#content {
    width: 500px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}