.footer-wrap {
    width: 100%;
    border-top: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.footer-list {
    display: flex;
    flex-direction: row;
}

.footer-list-item {
    list-style-type: none;
    text-align: center;
    width: 33%;
}

.footer-link {
    text-decoration: none;
    color: blue;
    font-size: 15px;
}