* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 221, 221);
    font-family: 'Open Sans', sans-serif;
}

#nav {
    position: fixed;
    top: 0;
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

#content {
    margin-top: 80px;
}